main {
    max-width: 840px;
}
main img{
    width: 150px;
    height: auto;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 1.5rem;
    text-align: space-between;
    display: flex;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}
h1 {
    color: #333;
    text-align: left;
}
p{
    padding: 0;
}
aside{
    width: 20rem;
    margin: 1rem;
    border:1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}